section:nth-of-type(3) //book your table
    div:nth-of-type(1) 
        border-radius: 15px
        h3
            font-family: cour  
            text-transform: capitalize 
            span
                color: $Red
                text-transform: uppercase 
    .booking// our menu list
        div:nth-of-type(1)
            background-image: url(./../../public/img/book_table_bg.jpg)
            width: 100%
            border-radius: 15px
        p
            span
                font-weight: bolder
        button
            background-color: $Red
    div:nth-of-type(3)
         h3
            font-family: cour  
            text-transform: capitalize 
            span
                color: $Red
                text-transform: uppercase 


