section:nth-of-type(4)
    background-image: url(./../../public/img/testimonials_background.jpg)
    div:nth-of-type(1)
        h3
            font-family: Cour
            span
                color: $Red
    div:nth-of-type(2)
        img
            border-radius: 50%
            padding-bottom: 10px
            @include media-breakpoint-down(md)
                img
                    display: none
        div
            padding: 0
            margin: 3px
            height: 50%
            span
                color: $Red


    @media screen and ( max-width: 990px)
        .cnt-client
            flex-wrap: wrap
