header
    .container-fluid
        position: relative
        .boite
            position: absolute


        .carousel-inner
            .carousel-item
                img
                    height: 100%
                    width: 100%
        

        